

body {
  background-color: #363636;
  font-family: monospace;
  color: white;

}

.navigation{
    float: top;
    position: fixed;
}

#photo {
  display: flex;
  align-items: center;   

}

.imgme {
  width: 200px; 
  height: auto;
  border-radius: 10px; 
  
}

.info {
  padding: 100px;
}

.headtxt{
  font-size: 50px;
}

a{
  color: lightblue;
}