

body {
  background-color: #363636;
  font-family: monospace;
  color: white;

}

.navigation{
    position: fixed;
    right: 0;
    padding: 10px;
}



.phototext {
  display: flex;
  align-items: center;   
}

.imgme {
  width: 200px; 
  border-radius: 10px;
}

.name {
  padding: 100px;
  font-size: 25px;
  background: linear-gradient(white, #333333); /* gradient kleur element */
  background-clip: text; /* laat alleen de text zien */
  -webkit-text-fill-color: transparent; /* zorgt dat de exhte text kleur niet ziet (webkit omdat het nog niet standerdized is) */
}

.headtxt{
  font-size: 50px;
}

a{
  color: lightblue;
}

hr{
  height: 2px;
  background-color: white;
}

