

body {
  background-color: #363636;
  font-family: monospace;
  color: white;

}

.navigation{
    position: fixed;
    right: 0;
    padding: 10px;
}



#photo {
  display: flex;
  align-items: center;   

}

.imgme {
  width: 200px; 
  height: auto;
  border-radius: 10px; 
  
}

.name {
  padding: 100px;
  font-size: 25px;
  background: -webkit-linear-gradient(white, #333333); /* gradient kleur element */
  -webkit-background-clip: text; /* laat alleen de text zien */
  -webkit-text-fill-color: transparent; /* zorgt dat de exhte text kleur niet ziet */
}

.headtxt{
  font-size: 50px;
}

a{
  color: lightblue;
}

hr{
  height: 2px;
  background-color: white;
}

